# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TP\PT2021_30228_Vaduva_Calin_Assignment_4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
